{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet"  href="{% static 'login.css' %}">
    <title>Document</title>
</head>
<body>
    <form style="border-radius: 1rem;" class="d-flex flex-column bg-primary w-50 h-50 position-absolute top-50 start-50 translate-middle justify-content-evenly">
        <div class="d-flex justify-content-evenly">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="name" placeholder="John Smith" required>
                <label for="name">Name</label>
            </div>

            <div class="form-floating mb-3">
                <input type="date" class="form-control" id="birth-date" required>
                <label for="birth-date">Date of birth</label>
            </div>
        </div>

        <div class="d-flex justify-content-evenly">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="email" placeholder="name@example.com" required>
                <label for="email">Email address</label>
            </div>

            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="confirm-email" placeholder="name@example.com" required>
                <label for="confirm-email">Confirm email address</label>
            </div>
        </div>

        <div class="d-flex justify-content-evenly">
            <div class="form-floating mb-3">
                <input type="tel" class="form-control" id="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
                <label for="phone">Phone number</label>
            </div>

            <select class="form-select form-floating mb-3" aria-label="Preferred communication method" required>
                <option selected value="1">Email</option>
                <option value="2">SMS</option>
            </select>

        </div>

        <div class="d-flex justify-content-evenly">
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="password" required>
                <label for="password">Password</label>
            </div>

            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="confirm-password" required>
                <label for="confirm-password">Confirm password</label>
            </div>
        </div>

        <button type="submit" class="btn btn-secondary btn-lg">Submit</button>
    </form>
</body>
</html>