{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <title>Your wallet</title>
</head>

<body>
    {% include "navbar.html" %}
    <div>You have {{ amount }}$ left</div>


    <form method="POST" action="{% url 'add_funds_to_wallet' %}">
        {% csrf_token %}
        <input id="amount" name="amount" type="number" placeholder="0.00" step="any" required>
        <button type="submit">Add funds</button>
    </form>

</body>
</html>
