asgiref==3.9.1
black==25.9.0
cfgv==3.4.0
click==8.3.0
colorama==0.4.6
coverage==7.10.6
distlib==0.4.0
Django==5.2.6
django-stubs==5.2.5
django-stubs-ext==5.2.5
filelock==3.19.1
identify==2.6.14
iniconfig==2.1.0
isort==6.0.1
libcst==1.8.4
markdown-it-py==4.0.0
mdurl==0.1.2
mypy==1.18.2
mypy_extensions==1.1.0
mysqlclient==2.2.7
nodeenv==1.9.1
packaging==25.0
pathspec==0.12.1
platformdirs==4.4.0
pluggy==1.6.0
pre_commit==4.3.0
pycln==2.5.0
Pygments==2.19.2
pyotp==2.9.0
pytest==8.4.2
pytest-cov==7.0.0
pytest-django==4.11.1
pytokens==0.1.10
PyYAML==6.0.3
rich==14.1.0
shellingham==1.5.4
sqlparse==0.5.3
tomlkit==0.13.3
typer==0.19.2
types-PyYAML==6.0.12.20250915
typing_extensions==4.15.0
tzdata==2025.2
virtualenv==20.34.0